<%- include('./partials/header') %> <%- include('./partials/navbar') %>
<!--ABOUT-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div>
        <div class="hd">
          <h1><b>About Us</b></h1>
        </div>
        <div class="hds">
          <h3><b>Who we are</b></h3>
          <p class="ss">
            UENR Robotics Club is a club formed by students of the University Of
            Energy and Natural<br />
            Resources in 2019. The mission of the club is to develop student
            interest in science,<br />
            technology, engineering and math (STEM) through robotics.<br />
            UENR Robotics Club has some members with rare insights and expertise
            in the field of <br />
            3D design and printing, app and web development, hardware
            programming and<br />
            PCB design which is necessary to develop robotics and internet of
            things (IoT) systems.
          </p>
          <div>
            <div class="ld">
              <h3><b>Leadership</b></h3>
            </div>
            <div class="row">
              <div class="col-sm" id="lds">
                <% if (Executive.length > 0){ %> <% Executive.forEach(Executive => { %>
                  <div class="col-sm" id="lds">
                    <div class="executive">
                    <div class="name">
                      <img src="<%= Executive.image %>">
                       <p><b><%= Executive.fullname %></b></p>
                        <p><%= Executive.portfolio %></p>
                    </div>
                    </div>
                  </div>
                  <% }) %> <% } else{ %>
                    <p>There are no Executives to be displayed</p>
                  <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END OF ABOUT-->
<%- include('./partials/footer') %>
