<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<!--CAROUSEL-->
<section>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" id="first">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" id="car">
                    <div class="content" >
                        <h3>WELCOME TO THE UENR ROBOTICS CLUB</span></h3>
                        <h1><strong>Nurturing Engineers <br>For Our Society.</strong></h1>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item" id="second">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" id="car">
                    <div class="content" >
                        <h3>INCLUDE MORE SKILL TRAINING</span></h3>
                        <h1><strong>We Will Help <br>You To Improve <br>Upon Your Skillset.</strong></h1>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item" id="third">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" id="car">
                    <div class="content" >
                        <h3>CREATE THE THINGS YOU WISH EXISTED</span></h3> 
                        <h1><strong>Breaking Barriers, <br>Building a Future</strong></h1>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>  
 <!--END OF CAROUSEL-->  
 <!--SECTION 1 WORDS OF PRESIDENT-->
 <div class="container-fluid">
  <div class="row">
    <div class="col-md-6" style="display: flex; justify-content:center;">
      <div class="words" style="padding-top: 40px; padding-bottom: 60px;">
        <h1 style="padding-bottom: 20px;">Our robotics crew is<br> geared for success</h1>
        <p style="padding-bottom: 20px;"></p>
        <div style="display: flex;">
        <div class="pic_pres"></div>
        <div style="padding:20px ;">
        <b>Bawa Daniel Dangema</b>
        <p>President</p>
        </div>
        <div class="vl"></div>
        <div class="sign"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="crd" style="display: flex; justify-content: center; padding-top: 50px;padding-bottom: 50px;">
        <div class="image1"  style="margin-top: 90px;"></div>
        <div class="image2" ></div>
      </div>
    </div>
  </div>
 </div>
 <!--END OF SECTION1-->
 <!--OUR TEAMS-->
 <div class="container-fluid" style="background-color: rgba(182, 182, 182, 0.438);">
    <div class="row">
       <div class="col-md-12">
        <p style="text-align: center; padding-top:20px">Our Teams</p>
        <h1 style="text-align: center; padding-bottom: 20px;"><b>What we do</b></h1>
        <div class="team_con">
          <div class="row"> 
          <div class="col-sm" id="lds">
          <div class="team1"  style=" display: flex;flex-direction: column;align-items: center;margin-bottom: 20px;">
            <i class="bi bi-code-slash" style="font-size: 180px;"></i>
            <p style="font-size: 20px;"><b>Software Team</b></p>
            <p style="text-align: center;">We translate a projects goals<br> into a functional user<br> experience, to analysing,<br> evaluating and enhancing<br> them over time.</p>
          </div>
          </div>
          <div class="col-sm" id="lds">
          <div class="team1">
            <i class="bi bi-tools" style="font-size: 180px;"></i>
            <p style="font-size: 20px; text-align: center;"><b>Hardware & <br>Prototyping Team</b></p>
            <p style="text-align: center;">We oversee the design and <br> installation of hardware <br>components to develop<br> a product</p>
          </div>
          </div>
          <div class="col-sm" id="lds">
          <div class="team1" >
            <i class="bi bi-boxes" style="font-size: 180px;"></i>
            <p style="font-size: 20px;"><b>3D Modelling Team</b></p>
            <p style="text-align: center;">We design 3D models using<br> CAD software during project<br>development to 3D print<br> certain parts.</p>
          </div>
          </div>
          <div class="col-sm" id="lds">
          <div class="team1">
            <i class="bi bi-easel2-fill" style="font-size: 180px;"></i>
            <p style="font-size: 20px; text-align: center;"><b>Research & <br>Pitching Team</b></p>
            <p style="text-align: center;">We collect information to<br>assist in the development and<br> design of projects.</p>
          </div>
          </div>
        </div>
        </div>
      </div> 

      </div>
    </div>
 </div>
<!--END OF TEAMS-->
<!--NUMBERS OF MEMBERS-->
<div class="container-fluid" style="background-color: rgb(7,7,61);">
  <div class="row">
    <div class="col-md-12">
      <div style="display: flex; justify-content: space-evenly; color: white;">
        <div class="numbers" style="text-align: center;">
        <h1><b>34</b></h1>
        <p><b>MEMBERS</b></p>
        </div>
        <div class="numbers" style="text-align: center;">
        <h1><b>20</b></h1>
        <p><b>PROJECTS</b></p>
        </div>
        <div class="numbers" style="text-align: center;">
        <h1><b>43</b></h1>
        <p><b>AWARDS</b></p>
        </div>
      </div>
    </div>
  </div>
</div> 
<!--END OF NUMBERS--> 
<!--CURRENT EXECUTIVES-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p style="text-align: center; padding-top: 30px; font-size: 30px;"><b>Our Current Executives</b></p>
      <div class="row">
        <% if (Executive.length > 0){ %> <% Executive.forEach(Executive => { %>
          <div class="col-sm" id="lds">
            <div class="executive">
            <div class="name">
              <img src="<%= Executive.image %>">
               <p><b><%= Executive.fullname %></b></p>
                <p><%= Executive.portfolio %></p>
            </div>
            </div>
          </div>
          <% }) %> <% } else{ %>
            <p>There are no Executives to be displayed</p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>  
<!--END OF EXECUTIVES-->
<!--CONTACT-->
<div class="container">
  <div class="row">
    <div class="col-md-6" style="background-image: url('https://drive.google.com/uc?export=view&id=1bgbakghIDJ7IoDKkQuFE_Uy9i_9hGbEj'); background-size: cover;">
      <div class="call">
        <div style="padding-top: 20px;">
        <i class="bi bi-geo-alt" style="font-size: 70px;"></i>
        </div>
        <p><b>LOCATION</b></p>
        <p>UENR, Sunyani - Bono Region, Ghana</p>
        <hr>
        <div>
          <i class="bi bi-telephone" style="font-size: 70px;"></i>
        </div>
        <p><b>PHONE</b></p>
        <p>+233 549300250</p>
        <hr>
        <div>
          <i class="bi bi-envelope-open" style="font-size: 70px;"></i>
        </div>
        <p><b>EMAIL</b></p>
        <p>uenrroboticsclub.innovate@gmail.com</p>
      </div>
    </div>
    <div class="col-md-6" style=" margin-bottom: 10px; ">
      <div class="form-box">
        <h2><b>Let's talk about your Ideas</b></h2>
          <form action="/submitidea" method="POST" class="contact-form">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group">
                        <input class="form-control"  name="name" placeholder="Name" type="text" style="background-color: rgba(226, 226, 226, 0.603); border-radius:20px; outline:2px solid rgb(177, 177, 177);" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control"  name="email" placeholder="Email*" type="email"  style="background-color: rgba(226, 226, 226, 0.603); border-radius:20px; outline:2px solid rgb(177, 177, 177);" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control"  name="contact" placeholder="Contact" type="number"  style="background-color: rgba(226, 226, 226, 0.603); border-radius:20px; outline:2px solid rgb(177, 177, 177);" required>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group comments">
                        <textarea class="form-control" name="comments" placeholder="Tell Us About Your Project *"  style="background-color: rgba(226, 226, 226, 0.603); border-radius:20px; outline:2px solid rgb(177, 177, 177);" required></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12" id="press">
                <div class="row">
                    <button type="submit" name="submit" style="background-color: rgb(21, 21, 112); border-radius: 20px;" onclick="clicked()">
                        Send Message <i class="bi bi-send"></i>
                    </button>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END OF CONTACT-->
</section>
<br>
<%- include('./partials/footer') %>