<%- include('./partials/header') %>
<%- include('./partials/navbar') %>   
   
<div class="page-title-area shadow dark bg-fixed text-center text-light" id="side">
  <div id="pro_cover"> 
    <div class="container" style="height: 45vh;" id="fold1">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div>
                <h1 style=" font-size: 80px; "><b>Projects</b></h1>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Page Title -->     
<!--PROJECT CONTENT-->
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12" id="daa">
            <% if (Project.length > 0){ %> <% Project.forEach(Project => { %>
            <div class="card" style="width: 23rem; margin-bottom: 15px;">
                <img class="card-img-top" src="<%= Project.image %>"  alt="Card image cap">
                <div class="card-body">
                    <h1><b><%= Project.projectname %></b></h1>
                <p class="card-text"><%= Project.description %></p>
                </div>
              </div>
              <br>
            <% }) %> <% } else{ %>
                <p>There are no Projects to be displayed</p>
              <% } %>
              
        </div>
    <br>
    
</div>
<%- include('./partials/footer') %>